body {
  margin: 0;
  background: url('@/assets/background.jpg') no-repeat center center fixed;
  background-size: cover;
  
  display: flex;
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  height: 100vh;
  width: 100vw;
  justify-content: center;
  align-items: center;
}

main {
  display: flex;
  flex-direction: column;
  align-items: stretch;
}

button {
  border-radius: 8px;
  border: 2px solid transparent;
  padding: 1em 2em;  /* Increase padding for larger button */
  font-size: 1.2em;  /* Increase font size */
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
  color: white;
  
  position: absolute;  /* Absolute positioning */
  top: 20px;           /* Position 20px from the top */
  right: 180px;         /* Position 20px from the right */
  width: auto;         /* Adjust width if needed */
  height: auto;        /* Adjust height if needed */
}

button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

ul {
  padding-inline-start: 0;
  margin-block-start: 0;
  margin-block-end: 0;
  list-style-type: none;
  display: flex;
  flex-direction: column;
  margin: 8px 0;
  border: 1px solid black;
  gap: 1px;
  background-color: black;
  border-radius: 8px;
  overflow: auto;
}

li {
  background-color: white;
  padding: 8px;
}

li:hover {
  background: #dadbf9;
}

a {
  font-weight: 800;
  text-decoration: none;
}